In [1]:
import gdown
import pandas as pd

In [2]:
data = {
    'bank': "1dzL_SWBkBs5xrUxuGQTm04oe3USgkL9u",    # banking data
    'sales': "1QK-VgSU3AxXUw330KjYFUj8S9hzKJsG6",   # sales data
    'mcc': "1JN0bR84sgZ_o4wjKPBUmz45NeEEkVgt7",     # mcc description
}

In [3]:
for name, file_id in data.items():
    gdown.download(f'https://drive.google.com/uc?id={file_id}', name + '.parquet', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1dzL_SWBkBs5xrUxuGQTm04oe3USgkL9u
To: /home/leonardorsg/proj/BrasaHackaton/dataset/bank.parquet
100%|██████████████████| 1.57M/1.57M [00:01<00:00, 1.35MB/s]
Downloading...
From: https://drive.google.com/uc?id=1QK-VgSU3AxXUw330KjYFUj8S9hzKJsG6
To: /home/leonardorsg/proj/BrasaHackaton/dataset/sales.parquet
100%|██████████████████| 6.37M/6.37M [00:05<00:00, 1.20MB/s]
Downloading...
From: https://drive.google.com/uc?id=1JN0bR84sgZ_o4wjKPBUmz45NeEEkVgt7
To: /home/leonardorsg/proj/BrasaHackaton/dataset/mcc.parquet
100%|███████████████████| 57.3k/57.3k [00:00<00:00, 592kB/s]

In [4]:
df = {}
for name in data.keys():
    df[name] = pd.read_parquet(name + '.parquet')

In [5]:
df['sales']

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.00,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.00,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.00,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.00,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.00,,Pix,5499,RN
...,...,...,...,...,...,...,...
266965,1520813460744343295,2022-12-01 17:11:55.749500,319.80,1508673741982500096,Alimentação,5422,RS
266966,1520813460744343295,2023-05-17 02:06:09.048800,9.60,6001044247338530816,Alimentação,5422,RS
266967,1520813460744343295,2023-03-01 17:52:01.241600,309.40,,Alimentação,5422,RS
266968,1520813460744343295,2023-01-09 00:11:01.052900,887.32,3182228169760180736,Alimentação,5422,RS
266969,1520813460744343295,2023-02-20 22:53:02.811500,120.00,8116794780606750720,Alimentação,5422,RS

In [6]:
df['bank']

,document_id,date_time,value,counterparty_document,type
0,5615027685943047372,2023-02-08 19:02:36.289545,400000.00,2701672467485454263,pix_in
1,6321206883189082161,2023-05-21 17:45:10.407340,330000.00,5674766186099233601,pix_in
2,6204525363384429949,2023-05-19 14:53:21.567099,200000.00,2193750750108086695,pix_out
3,6347736874608223396,2023-04-05 12:13:38.056087,200000.00,904790816053028747,pix_out
4,6347736874608223396,2023-04-07 23:44:04.727672,200000.00,904790816053028747,pix_out
...,...,...,...,...,...
66184,4176676849454697385,2023-01-17 12:27:44.012951,0.88,6015991367796145791,pix_in
66185,4176676849454697385,2022-12-23 16:38:35.784940,0.80,6015991367796145791,pix_out
66186,6367852746770439350,2023-01-09 05:49:23.584379,0.80,5566228780935135215,pix_in
66187,5952522905932206715,2022-12-21 22:14:41.099309,0.60,3467101161978958464,pix_in
66188,8638600926820648527,2023-03-13 17:57:56.093191,0.56,2042821547342802619,pix_in

In [7]:
df['mcc']

,mcc,edited_description,combined_description,usda_description,irs_description,irs_reportable
0,742,Veterinary Services,Veterinary Services,Veterinary Services,Veterinary Services,Yes
1,763,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Co-operatives,Agricultural Cooperative,Yes
2,780,"Horticultural Services, Landscaping Services","Horticultural Services, Landscaping Services",Horticultural Services,Landscaping Services,Yes
3,1520,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors-Residential and Commercial,General Contractors,Yes
4,1711,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,Air Conditioning Contractors – Sales and Insta...,"Heating, Plumbing, A/C",Yes
...,...,...,...,...,...,...
976,9405,Intra – Government Transactions,Intra – Government Transactions,Intra – Government Transactions,U.S. Federal Government Agencies or Departments,No1.6041-3(p)(3)
977,9700,Automated Referral Service ( For Visa Only),Automated Referral Service ( For Visa Only),Automated Referral Service ( For Visa Only),None,None
978,9701,Visa Credential Service ( For Visa Only),Visa Credential Service ( For Visa Only),Visa Credential Service ( For Visa Only),None,None
979,9702,GCAS Emergency Services ( For Visa Only),GCAS Emergency Services ( For Visa Only),GCAS Emergency Services ( For Visa Only),None,None
980,9950,Intra – Company Purchases ( For Visa Only),Intra – Company Purchases ( For Visa Only),Intra – Company Purchases ( For Visa Only),Intra-Company Purchases,No1.6041-3(c)

In [27]:
import pandas as pd

# Carregar o DataFrame do arquivo Parquet
df = pd.read_parquet('bank.parquet')

# Excluir linhas onde counterparty_document é igual a document_id
df = df[df['counterparty_document'] != df['document_id']]

# Excluir linhas onde type é igual a 'pix_in'
df = df[df['type'] != 'pix_out']

# Exibir as primeiras linhas do DataFrame atualizado
df

,document_id,date_time,value,counterparty_document,type
0,5615027685943047372,2023-02-08 19:02:36.289545,400000.00,2701672467485454263,pix_in
1,6321206883189082161,2023-05-21 17:45:10.407340,330000.00,5674766186099233601,pix_in
6,5615027685943047372,2023-03-05 11:20:10.322203,200000.00,8222578902735271623,pix_in
7,5615027685943047372,2023-03-06 11:37:40.236905,200000.00,8222578902735271623,pix_in
9,5615027685943047372,2023-03-11 19:08:30.834887,160000.00,1675455838011611815,pix_in
...,...,...,...,...,...
66183,453832840298988785,2023-02-27 16:58:34.952689,1.00,7665343847314010680,pix_in
66184,4176676849454697385,2023-01-17 12:27:44.012951,0.88,6015991367796145791,pix_in
66186,6367852746770439350,2023-01-09 05:49:23.584379,0.80,5566228780935135215,pix_in
66187,5952522905932206715,2022-12-21 22:14:41.099309,0.60,3467101161978958464,pix_in
66188,8638600926820648527,2023-03-13 17:57:56.093191,0.56,2042821547342802619,pix_in

In [28]:
# Agrupar por counterparty_document e calcular a média da coluna value
mean_values = df.groupby('counterparty_document')['value'].mean()

# Exibir o resultado
print(mean_values)

counterparty_document
27150544088378          48.0
345020050117820        316.0
857911140918458         20.0
982180126068621         24.0
1484487824357073        16.0
                       ...
9222230785374978155    128.0
9222852372408945237    115.0
9222894982097696200    400.0
9223165685087753940     37.2
9223313739566494973    144.0
Name: value, Length: 25504, dtype: float64