In [188]:
import gdown
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [189]:
data = {
    'bank': "1dzL_SWBkBs5xrUxuGQTm04oe3USgkL9u",    # banking data
    'sales': "1QK-VgSU3AxXUw330KjYFUj8S9hzKJsG6",   # sales data
    'mcc': "1JN0bR84sgZ_o4wjKPBUmz45NeEEkVgt7",     # mcc description
}

In [190]:
for name, file_id in data.items():
    gdown.download(f'https://drive.google.com/uc?id={file_id}', name + '.parquet', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1dzL_SWBkBs5xrUxuGQTm04oe3USgkL9u
To: c:\feup\BrasaHackaton\dataset\bank.parquet
100%|██████████| 1.57M/1.57M [00:00<00:00, 2.69MB/s]
Downloading...
From: https://drive.google.com/uc?id=1QK-VgSU3AxXUw330KjYFUj8S9hzKJsG6
To: c:\feup\BrasaHackaton\dataset\sales.parquet
100%|██████████| 6.37M/6.37M [00:00<00:00, 7.72MB/s]
Downloading...
From: https://drive.google.com/uc?id=1JN0bR84sgZ_o4wjKPBUmz45NeEEkVgt7
To: c:\feup\BrasaHackaton\dataset\mcc.parquet
100%|██████████| 57.3k/57.3k [00:00<00:00, 617kB/s]

In [191]:
df = {}
for name in data.keys():
    df[name] = pd.read_parquet(name + '.parquet')

In [192]:
df['sales']

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.00,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.00,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.00,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.00,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.00,,Pix,5499,RN
...,...,...,...,...,...,...,...
266965,1520813460744343295,2022-12-01 17:11:55.749500,319.80,1508673741982500096,Alimentação,5422,RS
266966,1520813460744343295,2023-05-17 02:06:09.048800,9.60,6001044247338530816,Alimentação,5422,RS
266967,1520813460744343295,2023-03-01 17:52:01.241600,309.40,,Alimentação,5422,RS
266968,1520813460744343295,2023-01-09 00:11:01.052900,887.32,3182228169760180736,Alimentação,5422,RS
266969,1520813460744343295,2023-02-20 22:53:02.811500,120.00,8116794780606750720,Alimentação,5422,RS

In [193]:
df['bank']

,document_id,date_time,value,counterparty_document,type
0,5615027685943047372,2023-02-08 19:02:36.289545,400000.00,2701672467485454263,pix_in
1,6321206883189082161,2023-05-21 17:45:10.407340,330000.00,5674766186099233601,pix_in
2,6204525363384429949,2023-05-19 14:53:21.567099,200000.00,2193750750108086695,pix_out
3,6347736874608223396,2023-04-05 12:13:38.056087,200000.00,904790816053028747,pix_out
4,6347736874608223396,2023-04-07 23:44:04.727672,200000.00,904790816053028747,pix_out
...,...,...,...,...,...
66184,4176676849454697385,2023-01-17 12:27:44.012951,0.88,6015991367796145791,pix_in
66185,4176676849454697385,2022-12-23 16:38:35.784940,0.80,6015991367796145791,pix_out
66186,6367852746770439350,2023-01-09 05:49:23.584379,0.80,5566228780935135215,pix_in
66187,5952522905932206715,2022-12-21 22:14:41.099309,0.60,3467101161978958464,pix_in
66188,8638600926820648527,2023-03-13 17:57:56.093191,0.56,2042821547342802619,pix_in

In [194]:
# Unique payment types
unique_types = df['sales']['type'].unique()
print(unique_types)

['Pix' 'Débito' 'Voucher' 'Crédito' 'Benefícios' 'Alimentação' 'Refeição'
 'Flex']

In [195]:
# Remove transactions between the same document
df['bank'] = df['bank'][df['bank']['document_id'] != df['bank']['counterparty_document']]

# Remove outgoing transactions
df['bank'] = df['bank'][df['bank']['type'] != 'pix_out']

df['bank']

,document_id,date_time,value,counterparty_document,type
0,5615027685943047372,2023-02-08 19:02:36.289545,400000.00,2701672467485454263,pix_in
1,6321206883189082161,2023-05-21 17:45:10.407340,330000.00,5674766186099233601,pix_in
6,5615027685943047372,2023-03-05 11:20:10.322203,200000.00,8222578902735271623,pix_in
7,5615027685943047372,2023-03-06 11:37:40.236905,200000.00,8222578902735271623,pix_in
9,5615027685943047372,2023-03-11 19:08:30.834887,160000.00,1675455838011611815,pix_in
...,...,...,...,...,...
66183,453832840298988785,2023-02-27 16:58:34.952689,1.00,7665343847314010680,pix_in
66184,4176676849454697385,2023-01-17 12:27:44.012951,0.88,6015991367796145791,pix_in
66186,6367852746770439350,2023-01-09 05:49:23.584379,0.80,5566228780935135215,pix_in
66187,5952522905932206715,2022-12-21 22:14:41.099309,0.60,3467101161978958464,pix_in
66188,8638600926820648527,2023-03-13 17:57:56.093191,0.56,2042821547342802619,pix_in

In [196]:
df['sales']

,document_id,date_time,value,card_number,type,mcc,state
0,9132021237731236867,2022-12-08 01:09:53.352600,240.00,,Pix,5499,RN
1,9132021237731236867,2022-12-04 03:04:08.115900,88.00,,Pix,5499,RN
2,9132021237731236867,2022-12-07 03:07:05.865600,76.00,,Pix,5499,RN
3,9132021237731236867,2022-12-05 02:45:01.539400,48.00,,Pix,5499,RN
4,9132021237731236867,2022-12-08 03:10:59.259900,8.00,,Pix,5499,RN
...,...,...,...,...,...,...,...
266965,1520813460744343295,2022-12-01 17:11:55.749500,319.80,1508673741982500096,Alimentação,5422,RS
266966,1520813460744343295,2023-05-17 02:06:09.048800,9.60,6001044247338530816,Alimentação,5422,RS
266967,1520813460744343295,2023-03-01 17:52:01.241600,309.40,,Alimentação,5422,RS
266968,1520813460744343295,2023-01-09 00:11:01.052900,887.32,3182228169760180736,Alimentação,5422,RS
266969,1520813460744343295,2023-02-20 22:53:02.811500,120.00,8116794780606750720,Alimentação,5422,RS

In [197]:
# Agrupar por counterparty_document e calcular a média da coluna value
mean_values = df['bank'].groupby('counterparty_document')['value'].mean()

# Exibir o resultado
print(mean_values)

counterparty_document
27150544088378          48.0
345020050117820        316.0
857911140918458         20.0
982180126068621         24.0
1484487824357073        16.0
                       ...
9222230785374978155    128.0
9222852372408945237    115.0
9222894982097696200    400.0
9223165685087753940     37.2
9223313739566494973    144.0
Name: value, Length: 25504, dtype: float64

In [198]:
# Converter a coluna date_time para datetime
df['sales']['date_time'] = pd.to_datetime(df['sales']['date_time'])
df['bank']['date_time'] = pd.to_datetime(df['bank']['date_time'])

In [199]:
# Count the number of purchases per client - estabilishment pair
count_df = df['bank'].groupby(['counterparty_document', 'document_id']).size().reset_index(name='count')

# Filter clients that bought more than X times
X = 10
frequent_df = count_df[count_df['count'] > X]

# Merge the frequent dataframe with the bank dataframe
frequent_pairs_transactions_df = df['bank'].merge(frequent_df, on=['counterparty_document', 'document_id'], how='inner')

# Select only the relevant columns
frequent_pairs_transactions_df = frequent_pairs_transactions_df[['counterparty_document', 'document_id', 'date_time']]

# Order based on the counterparty_document, document_id and date_time
frequent_pairs_transactions_df = frequent_pairs_transactions_df.sort_values(by=['counterparty_document', 'document_id', 'date_time'])

# Display the result
print(frequent_pairs_transactions_df)

      counterparty_document          document_id                  date_time
7168      41265901090260391  5304179800127950998 2022-12-04 18:21:01.495559
7091      41265901090260391  5304179800127950998 2022-12-26 18:42:45.346458
7084      41265901090260391  5304179800127950998 2023-01-08 18:53:51.620579
7103      41265901090260391  5304179800127950998 2023-02-04 19:06:30.064913
7085      41265901090260391  5304179800127950998 2023-02-08 18:40:41.283254
...                     ...                  ...                        ...
1113    9218290138118331088  8028088192899859836 2023-04-08 16:06:13.772205
311     9218290138118331088  8028088192899859836 2023-04-08 21:28:02.927082
4929    9218290138118331088  8028088192899859836 2023-04-08 21:30:03.826494
1373    9218290138118331088  8028088192899859836 2023-04-10 22:40:46.257759
1372    9218290138118331088  8028088192899859836 2023-05-01 17:56:32.425448

[9107 rows x 3 columns]

In [200]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# Calculate the time difference between transactions
frequent_pairs_transactions_df['time_diff'] = frequent_pairs_transactions_df.groupby(['counterparty_document', 'document_id'])['date_time'].diff()
frequent_pairs_transactions_df['time_diff_seconds'] = frequent_pairs_transactions_df['time_diff'].dt.total_seconds()

print(frequent_pairs_transactions_df.head())

last_dates_df = frequent_pairs_transactions_df.groupby(['counterparty_document', 'document_id'])['date_time'].last().reset_index()
last_intervals_df = frequent_pairs_transactions_df.groupby(['counterparty_document', 'document_id'])['time_diff_seconds'].last().reset_index()
last_dates_df.rename(columns={'date_time': 'last_date'}, inplace=True)
last_intervals_df.rename(columns={'time_diff_seconds': 'last_interval'}, inplace=True)

test_data = pd.merge(last_dates_df, last_intervals_df, on=['counterparty_document', 'document_id'])

print("test data")
print(test_data.head())

penultimate_dates_df = frequent_pairs_transactions_df.groupby(['counterparty_document', 'document_id'])['date_time'].apply(lambda x: x.iloc[-2] if len(x) > 1 else np.nan).reset_index()
penultimate_dates_df.rename(columns={'date_time': 'penultimate_date'}, inplace=True)

train_data = frequent_pairs_transactions_df[~frequent_pairs_transactions_df.index.isin(test_data.index)]
X_train = train_data['time_diff_seconds'].dropna().values[:-1].reshape(-1, 1)
y_train = train_data['time_diff_seconds'].dropna().values[1:]

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

test_data['predicted_interval'] = model.predict(test_data[['last_interval']])

# Calcular a próxima data prevista
test_data['predicted_next_date'] = test_data['last_date'] + pd.to_timedelta(test_data['predicted_interval'], unit='s')

# Exibir os resultados
print(test_data[['counterparty_document', 'document_id', 'last_date', 'predicted_next_date']])

      counterparty_document          document_id                  date_time  \
7168      41265901090260391  5304179800127950998 2022-12-04 18:21:01.495559
7091      41265901090260391  5304179800127950998 2022-12-26 18:42:45.346458
7084      41265901090260391  5304179800127950998 2023-01-08 18:53:51.620579
7103      41265901090260391  5304179800127950998 2023-02-04 19:06:30.064913
7085      41265901090260391  5304179800127950998 2023-02-08 18:40:41.283254

                   time_diff  time_diff_seconds
7168                     NaT                NaN
7091 22 days 00:21:43.850899       1.902104e+06
7084 13 days 00:11:06.274121       1.123866e+06
7103 27 days 00:12:38.444334       2.333558e+06
7085  3 days 23:34:11.218341       3.440512e+05
test data
   counterparty_document          document_id                  last_date  \
0      41265901090260391  5304179800127950998 2023-05-24 18:16:29.988608
1      48884558306002229  8638600926820648527 2023-05-28 13:05:16.517930
2      62080937531155595  5232685348355818300 2023-05-30 02:17:38.081402
3     114592280575793364  1252540463915994029 2023-03-30 16:11:06.543860
4     171300584869772123  5304179800127950998 2023-05-06 18:01:18.329972

   last_interval
0   6.026081e+05
1   5.002938e+05
2   1.502659e+06
3   1.800076e+05
4   3.463086e+05
     counterparty_document          document_id                  last_date  \
0        41265901090260391  5304179800127950998 2023-05-24 18:16:29.988608
1        48884558306002229  8638600926820648527 2023-05-28 13:05:16.517930
2        62080937531155595  5232685348355818300 2023-05-30 02:17:38.081402
3       114592280575793364  1252540463915994029 2023-03-30 16:11:06.543860
4       171300584869772123  5304179800127950998 2023-05-06 18:01:18.329972
..                     ...                  ...                        ...
351    9118610220707068351  5952522905932206715 2023-05-29 16:07:56.917126
352    9152749960959240992  1259629514589365243 2023-05-27 19:36:43.340828
353    9190302209913336300  5304179800127950998 2023-04-29 16:14:28.663875
354    9214214873206651475   453832840298988785 2023-05-21 21:17:10.008353
355    9218290138118331088  8028088192899859836 2023-05-01 17:56:32.425448

              predicted_next_date
0   2023-05-30 10:46:25.527426668
1   2023-06-02 23:44:01.131961382
2   2023-06-06 22:16:52.848011955
3   2023-04-04 08:30:30.422086214
4   2023-05-11 19:51:30.762035049
..                            ...
351 2023-06-04 08:36:22.336132524
352 2023-06-01 07:02:26.968062052
353 2023-05-04 18:05:03.382361874
354 2023-05-26 19:10:10.419614785
355 2023-05-10 06:47:16.030242878

[356 rows x 4 columns]

C:\Users\maria\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:486: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

In [202]:
from sklearn.metrics import mean_absolute_error

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
print(f'Mean Absolute Error: {mae}')

penultimate_dates_df = frequent_pairs_transactions_df.groupby(['counterparty_document', 'document_id'])['date_time'].apply(lambda x: x.iloc[-2] if len(x) > 1 else np.nan).reset_index()
penultimate_dates_df.rename(columns={'date_time': 'penultimate_date'}, inplace=True)

# Verificar se a coluna 'penultimate_date' foi criada corretamente
print(penultimate_dates_df.head())

# Mesclar com os dados de teste para calcular a próxima data
results_df = pd.merge(test_data, penultimate_dates_df, on=['counterparty_document', 'document_id'])
print(results_df.head())  # Verificar se a coluna 'penultimate_date' está presente

Mean Absolute Error: 428935.8708510707
   counterparty_document          document_id           penultimate_date
0      41265901090260391  5304179800127950998 2023-05-17 18:53:01.897128
1      48884558306002229  8638600926820648527 2023-05-22 18:07:02.728513
2      62080937531155595  5232685348355818300 2023-05-12 16:53:19.317545
3     114592280575793364  1252540463915994029 2023-03-28 14:10:58.964735
4     171300584869772123  5304179800127950998 2023-05-02 17:49:29.702466
   counterparty_document          document_id                  last_date  \
0      41265901090260391  5304179800127950998 2023-05-24 18:16:29.988608
1      48884558306002229  8638600926820648527 2023-05-28 13:05:16.517930
2      62080937531155595  5232685348355818300 2023-05-30 02:17:38.081402
3     114592280575793364  1252540463915994029 2023-03-30 16:11:06.543860
4     171300584869772123  5304179800127950998 2023-05-06 18:01:18.329972

   last_interval  predicted_interval           predicted_next_date  \
0   6.026081e+05       491395.538819 2023-05-30 10:46:25.527426668
1   5.002938e+05       470324.614031 2023-06-02 23:44:01.131961382
2   1.502659e+06       676754.766610 2023-06-06 22:16:52.848011955
3   1.800076e+05       404363.878226 2023-04-04 08:30:30.422086214
4   3.463086e+05       438612.432063 2023-05-11 19:51:30.762035049

            penultimate_date
0 2023-05-17 18:53:01.897128
1 2023-05-22 18:07:02.728513
2 2023-05-12 16:53:19.317545
3 2023-03-28 14:10:58.964735
4 2023-05-02 17:49:29.702466

In [ ]:
# Definir uma função para encontrar o intervalo com o menor número de transações maior que 0
def find_min_transactions_interval(df):
    # Resample para criar intervalos de 1 dia
    daily_counts = df.resample('d', on='date_time').size()

    # Filtrar intervalos com contagem maior que 0
    daily_counts = daily_counts[daily_counts > 0]

    # Verificar se há intervalos com contagens maiores que 0
    if daily_counts.empty:
        return None, 0

    # Encontrar o intervalo com o menor número de transações
    min_interval = daily_counts.idxmin()
    min_count = daily_counts.min()

    return min_interval, min_count

# Apply the function to sales dataframe grouped by mcc
results = []
for mcc, group in df['sales'].groupby('mcc'):
    min_interval, min_count = find_min_transactions_interval(group)
    if min_interval is not None:
        results.append({'mcc': mcc, 'min_interval_start': min_interval, 'transaction_count': min_count})

# Criar um DataFrame com os resultados
result_df = pd.DataFrame(results)

# Exibir o resultado
print(result_df)

     mcc min_interval_start  transaction_count
0   4812         2022-12-29                  7
1   5199         2023-05-20                  2
2   5211         2023-01-21                 11
3   5251         2023-03-04                  6
4   5311         2022-12-26                  1
5   5411         2023-05-31                 12
6   5422         2023-05-31                  8
7   5441         2023-03-09                  1
8   5462         2022-12-16                  1
9   5499         2023-05-31                 62
10  5571         2023-03-07                  1
11  5631         2022-12-23                  1
12  5651         2023-01-19                  2
13  5699         2022-12-05                  1
14  5734         2023-01-12                  1
15  5812         2023-05-31                 29
16  5813         2022-12-06                  1
17  5814         2023-01-07                 75
18  5912         2023-05-18                  2
19  5921         2023-02-26                 12
20  5947         2023-05-21                  4
21  5983         2022-12-04                  1
22  5995         2023-02-16                  2
23  5999         2022-12-07                  1
24  7338         2022-12-02                  5
25  7379         2022-12-22                  1
26  7997         2023-03-08                  1
27  8911         2023-03-21                  2